* {
	box-sizing: border-box;
	color: #063946;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.primary-button {
	border-radius: 16px !important;
	box-shadow: none !important;
}
